*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    background-color:#D1BDD0;
}

.container
{
    min-height: 100vh;
    width: 100%;
    background-image:url("assets/backround.jpg");
    padding: 50px;
}

.header{
    width: 100%;
    height: 100px;
    color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.app_name{
    font-size: 60px;
    font-weight: 500px;
    font-family: segoe UI;
    padding: 0px 20px;
}

.buttons{
    height: 100px;
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 20px;
}

.btn{
    padding: 15px 40px;
    font-weight: bold;
    text-transform: uppercase;
    border: none;
    font-family: segoe UI;
    border-radius: 5px;
    cursor: pointer;
    transition: .3s;

}

.btn:hover {
    box-shadow: 0px 0px 5px #7A6177;
}

.btn-new{
    background-color:#7A6177;
    color: white;
}

.btn-save {
    background-color: #7A6177;
    color: white;
}



.notes{
   
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    column-gap: calc(15%/4);
    row-gap: 30px;
    background-color:transparent ;
}

.note{
   
    width: 17%;
    border-radius: 10px;
    background-color: #A1B080;
    box-shadow: 0 0 5px black;
    padding: 20px;
    margin-top: 20px;
}

.title
{
    width: 100%;
    height: 40px;
    font-size: 20px;
    font-weight: bold;
    font-family: segoe UI;
    border: none;
    background-color: transparent;
    outline: none;
}

.content{
    width:100%;
    height: 200px;
    border:#7A6177;
    background-color: transparent;
    outline: none;
    font-size: 18px;
    margin-top: 20px;
    resize: none;
}

img {
    width: 20px;
    cursor: pointer;
    transition: .3s;
    background-color: transparent;
}

img:hover{
    transform: scale(1.2);
}


.footer {
    width: 100%;
    padding-top: 100px;
    padding-bottom: 30px;
    background-color: #B983A3;
    color: #FFF;
    display: flex;
}

.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.socials {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 70px 30px 20px;
    margin: 1rem 0 3rem 0;
}

.socials li{
    margin: 0 10px;
}

.socials a{
    text-decoration: none;
}


.footerNav{
    display: block;
    color: #FFF;
    font-size: 19px;
    text-transform: capitalize;
    transition: 0.4s;
}

ul li a:hover{
    color: #FFF;
    padding-left:2px ;
}

.footerBottom {
    color:#7A6177;
    font-size: var(--font-size-3xx-small);
    text-align: center;
    padding-top: 100px;
    padding-left: 80px;
    padding-bottom: 10px;
}

.footerBottom p{
    color: #7A6177;
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
}



/* ============== RESPONSIVE ============ */
@media (min-width:0px) and (max-width:480px) {

    .container .header{
        text-align: center;
        font-size: 30px;
        width: auto;
        padding:30px 20px;
    }
    .container .buttons{
        padding:30px 20px;
        flex-wrap: wrap;
        width: auto;
    }


    .notes{
        text-align: center;
        font-size: 30px;
        width: auto;
    }

    .notes .note {
        padding:30px 20px;
        flex-wrap: wrap;
        width: auto;
    }

    .footer-content{
        flex-direction: column;
        width: auto;
        gap: 30px;
    }

}
